body {
    background-color: rgb(217, 217, 233);
    margin: 0;
}

header {
    padding-bottom: 50px;
    color: white;
    font-size: 22pt;
    text-align: center;
    height: 2.5em;
}

.blue-bg {
    background-color: rgb(29, 49, 114);
    border: black 3px solid;
}

h1 {
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
}

article h1 {
    font-size: 30pt;
}

p {
    margin: 0;
}

#title {
    margin: 2em 0 1.5em 0;
    padding: 0 0 0 8px;
    border-top: solid 25px rgb(167, 185, 208);
}

#title h1 {
    margin: 0;
    text-align: center;
    padding: 0.5em 0 0 0;
}

article {
    padding: 0 6em 0 8em;
}

aside {
    padding: 4em 1em 0 0;
}

footer {
    background-color: rgb(31, 31, 114);
    padding: 3em;
}